@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
:root {
  font-family: 'Lora', serif;
  

  --primary-color-gc: #222C56;
  --secondary-color-gc: #FF7400;
  --white-gc: #ffffff;
  --gray-bg-gc: #DBDBDC;

}
*{
  margin: 0;
}
